body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    background-color: gray;
    border: 1px solid darkgray;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 8px;
    position: absolute;
    top: 2vh;
    left: 2vh;
}

div {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 0px 35px 35px 35px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Monteserrat sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    border-radius: 25px;
    border: none;
    background-color: aliceblue;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
}

input[type='submit'] {
    border: none;
    border-radius: 25px;
    padding: 8px;
    background-color: #6495ED;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
}